# Sensitive Data
*.env
.env.*
*.private
secrets.json

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/
.pytest_cache/
htmlcov/
.coverage
build/
dist/
*.egg-info/

# IDE
.vscode/
.idea/

# OS
Thumbs.db
Desktop.ini
.DS_Store

# Logs
*.log

# Project specific
.agent/
.cache/
tests/report/
chrome_debug_profile/
results/
dump/
error_log.txt
